/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* main styling */

html, body {
    font-family: sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

#navbar {
background-color: #333;
color: #fff;
overflow: auto;
}

#navbar a {
    color:#fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
   float: right;
   list-style: none;  
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: inline-block;
    padding: 20px;
}

#navbar ul li a:hover {
    background-color: #444;
    color: #f7c08a;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    font-size: 18px;
    color: #fff;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn {
    background-color: #f7c08a;
    color: #333;
}

.btn-light {
    background-color: #f4f4f4;
    color: #333;
}

.bg-primry {
    background-color: #f7c08a;
    color:#333;
}

.bg-dark {
    background-color: #333;
    color: #fff;
}



.bg-light {
    background-color: #f4f4f4;
    color: #333333;
}



.clr {
    clear: both;
}

/* Showcase section*/

#showcase {
    background-image: url("../Css/img/showcase2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

#showcase .showcase-content {
    text-align:center;
    color:#fff;
    padding-top: 170px;
}

#showcase h1 {
    font-size: 60px;
}

#showcase p {
    padding-bottom: 20px;
    font-size: 20px;
}

#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    height: 100%;
    background-image: url('../Css/img/hotel.jpg');
    background-position: center -90%;
    background-size: cover;
   
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
}
    
#home-info .info-content p {
    padding-bottom: 20px;
    font-size: 18px;
}

.bg-dark {
    background-color: #333;
    color: #fff;
}

/* Features section */

.box {
    width: 33.3%;
    float: left;
    padding: 50px;
    text-align: center;
       box-sizing: border-box;
}


 
.box i {
    margin-bottom: 10px;
}

#main-footer {
    text-align: center;
    background-color: #444;
    color: #fff;
    padding: 30px;
    
   
}

/* About os page */

#about-info {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

#about-info .info-right {
    float: left;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
}

/* testimonials section */

#testimonials {
    height: 600px;
    padding-top: 100px;
    background-image: url("../Css/img/pexels-photo3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonials h2 {
color: #fff;
text-align: center;
padding-bottom: 40px;
font-size: 34px;
}

#testimonials .testimonials {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials .testimonials img {
    width: 100px;
    float: left;
    margin-right: 30;
    border-radius: 40%;

}

/* Contact us page */
#Contact-form {
    padding: 20px 0;
}

#Contact-form {
    font-size: 32px;
}

#Contact-form .form-group {
    margin-bottom: 20px;
}

#Contact-form label {
    display: block;
    margin-bottom: 5px;
}

#Contact-form input,
#Contact-form textarea {
width: 100%;
padding: 10px;
border: 1px solid #ddd;
}

#contact-info {
    display: inline-block;
    width: 100%;
}